<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DA" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=Valet_ScratchPad_II;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
