
@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron" >
    <img src="~/logoHeader.jpg" />
</div>*@
<div></div>
@*<div class="row">
    <div class="col-md-4">
            <br />
                <h2>Customers</h2>
            <p>
                <a class="btn btn-toolbar" href="http://localhost:49184/Customers"> All Customer Listing &raquo;</a>
            </p>
            <p>
                
            </p>
       
    </div>
    <div class="col-md-4">
        
        <br />
            <h2>Vehicle Listing</h2>
            <p>Vehicle Tracking and recent activity</p>
        <p>
            <a class="btn btn-default" href="http://localhost:49184/Vehicles"> Vehicles &raquo;</a>
        </p>
        </p>
    </div>
    <div class="col-md-4">
        <br/>
        <h2>GoldKey Service Packages</h2>
        <p>All Goldkey Premier Service Packages</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>

   
</div>*@